@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <title>注册|吃瓜网|网上商城</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="电商,网上商城,吃瓜网" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- font files  -->
    <link href="//fonts.googleapis.com/css?family=Muli:400,300" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Nunito:400,300,700" rel="stylesheet" type="text/css">
    <!-- /font files  -->
    <!-- css files -->
    <link href="~/Content/log_style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- /css files -->
</head>
<body>
    <h1>注册一个新账户</h1>
    <div class="log2">
        <div class="content2">
            <h2>注册</h2>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <input type="text" name="NAME" value="NAME" onfocus="this.value ='';" onblur="if (this.value == '') {this.value = '用户名';}">
                <input type="password" name="PASSWORD" value="PASSWORD" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'PASSWORD';}">
                <input type="tel" name="PHONE" value="PHONE" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '电话';}">
                @*<input type="text" name="PROVINCE" value="PROVINCE" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '省/直辖市/特别行政区';}">
                    <input type="text" name="CITY" value="CITY" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '城市';}">
                    <input type="text" name="DISTRICT" value="DISTRICT" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '区/市';}">*@
                <div data-toggle="distpicker">
                    <div class="form-group">
                        <select class="form-control" name="PROVINCE"><option value="" data-code="">—— 省 ——</option><option value="北京市" data-code="110000" selected="">北京市</option><option value="天津市" data-code="120000">天津市</option><option value="河北省" data-code="130000">河北省</option><option value="山西省" data-code="140000">山西省</option><option value="内蒙古自治区" data-code="150000">内蒙古自治区</option><option value="辽宁省" data-code="210000">辽宁省</option><option value="吉林省" data-code="220000">吉林省</option><option value="黑龙江省" data-code="230000">黑龙江省</option><option value="上海市" data-code="310000">上海市</option><option value="江苏省" data-code="320000">江苏省</option><option value="浙江省" data-code="330000">浙江省</option><option value="安徽省" data-code="340000">安徽省</option><option value="福建省" data-code="350000">福建省</option><option value="江西省" data-code="360000">江西省</option><option value="山东省" data-code="370000">山东省</option><option value="河南省" data-code="410000">河南省</option><option value="湖北省" data-code="420000">湖北省</option><option value="湖南省" data-code="430000">湖南省</option><option value="广东省" data-code="440000">广东省</option><option value="广西壮族自治区" data-code="450000">广西壮族自治区</option><option value="海南省" data-code="460000">海南省</option><option value="重庆市" data-code="500000">重庆市</option><option value="四川省" data-code="510000">四川省</option><option value="贵州省" data-code="520000">贵州省</option><option value="云南省" data-code="530000">云南省</option><option value="西藏自治区" data-code="540000">西藏自治区</option><option value="陕西省" data-code="610000">陕西省</option><option value="甘肃省" data-code="620000">甘肃省</option><option value="青海省" data-code="630000">青海省</option><option value="宁夏回族自治区" data-code="640000">宁夏回族自治区</option><option value="新疆维吾尔自治区" data-code="650000">新疆维吾尔自治区</option><option value="台湾省" data-code="710000">台湾省</option><option value="香港特别行政区" data-code="810000">香港特别行政区</option><option value="澳门特别行政区" data-code="820000">澳门特别行政区</option></select>
                        <select class="form-control"name="CITY"><option value="" data-code="">—— 市 ——</option><option value="北京市市辖区" data-code="110100" selected="">北京市市辖区</option></select>
                        <select class="form-control"name="DISTRICT"><option value="" data-code="">—— 区 ——</option><option value="东城区" data-code="110101" selected="">东城区</option><option value="西城区" data-code="110102">西城区</option><option value="朝阳区" data-code="110105">朝阳区</option><option value="丰台区" data-code="110106">丰台区</option><option value="石景山区" data-code="110107">石景山区</option><option value="海淀区" data-code="110108">海淀区</option><option value="门头沟区" data-code="110109">门头沟区</option><option value="房山区" data-code="110111">房山区</option><option value="通州区" data-code="110112">通州区</option><option value="顺义区" data-code="110113">顺义区</option><option value="昌平区" data-code="110114">昌平区</option><option value="大兴区" data-code="110115">大兴区</option><option value="怀柔区" data-code="110116">怀柔区</option><option value="平谷区" data-code="110117">平谷区</option><option value="密云区" data-code="110118">密云区</option><option value="延庆区" data-code="110119">延庆区</option></select>
                    </div>
                </div>

                <input type="text" name="DETAILADDR" value="DETAILADDR" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '详细地址';}">
                <input type="text" name="ZIPCODE" value="ZIPCODE" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '邮编';}">
                <input type="text" name="CREDIT_NO" value="CREDIT_NO" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '信用卡号';}">


                <input type="submit" class="register" value="注 册">
                <br><br><br>
                <p>已有账户，马上<a href="~/RegisterAndLogin/LoginCheck">登录</a></p>
            }
        </div>
        <div class="clear"></div>
    </div>
    <div class="footer">
        <p>© 吃瓜网 | 保留一切权利 </p>
    </div>

    <style type="text/css">
        a:link {
            color: #ff5a60;
            font-family: "微软雅黑";
            font-size: 15px;
        }
        /* 未访问的链接 */
        a:visited {
            color: #ff5a60;
        }
        /* 已访问的链接 */
        a:hover {
            color: #ffd700;
        }
        /* 鼠标在链接上 */
        a:active {
            color: #fff;
        }
        /* 点击激活链接 */
    </style>

    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/distpicker.data.js"></script>
    <script src="~/Scripts/distpicker.js"></script>
    <script src="~/Scripts/main.js"></script>

</body>
</html>