@model IEnumerable<EatMelon.Controllers.ProductViewModel>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>收藏夹|吃瓜网|网上商城</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="~/Content/templatemo_main.css">
</head>
<body>
    <div>
        <img src="~/images/logo.jpg"/>
    </div>
    <div id="main-wrapper">
        <div class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <div class="logo"><h1 style="font-family: 微软雅黑">我的账号-收藏夹</h1></div>
                <div id="linksbar">
                    <!-- class=group>-->
                    <li class="icon cart">
                        <a class="trigger" href="shopping_cart.html">
                            <!-- 跳转到购物车页面 -->
                        </a> |
                    </li>
                    <li><a href="index.html">首页</a></li>
                </div>
            </div>
        </div>
        <div class="template-page-wrapper">
            <div class="navbar-collapse collapse templatemo-sidebar">
                <ul class="templatemo-sidebar-menu">
                    <li><a href="~/AccountIndex/Index"><i class="fa fa-home"></i>账号主页</a></li>
                    <li class="active"><a href="#"><i class="fa fa-star"></i>收藏夹</a></li>
                    <li><a href="order.html"><i class="fa fa-file-text-o"></i>我的订单</a></li>
                    <li><a href="~/Views/CreateStore/MyShop"><i class="fa fa-users"></i>我的商店</a></li>
                    <li><a href="preferences.html"><i class="fa fa-cog"></i>个人资料</a></li>
                    <li><a href="javascript:;" data-toggle="modal" data-target="#confirmModal"><i class="fa fa-sign-out"></i>登出</a></li>
                </ul>
            </div><!--/.navbar-collapse -->

            <div class="templatemo-content-wrapper">
                <div class="templatemo-content">
                    <h1 style="font-family: 微软雅黑">收藏夹</h1>
                    <div class="templatemo-charts">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="panel panel-info">
                                    <!--<div class="panel-heading">按从晚到早的顺序显示</div>-->
                                </div>
                            </div>
                            <div class="table-responsive" align="center">
                                <table class="table table-striped table-hover table-bordered">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th style="font-family: 微软雅黑">商铺名</th>
                                        <th style="font-family: 微软雅黑">商品名</th>
                                        <th style="font-family: 微软雅黑">商品图</th>
                                        <th style="font-family: 微软雅黑">价格</th>
                                        <th style="font-family: 微软雅黑">取消订单</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    @{
                                        foreach (var modelItem in Model)
                                        {
                                            <tr>
                                                <td><br><br><br>1</td>
                                                <td><br><br><br><a href="shop_index.html">Xavier的小铺</a></td>
                                                <td><br><br><br><a href="Details.html">@modelItem.NAME</a></td>
                                                <td><img src="@modelItem.PICTURE"></td>
                                                <td><br><br><br>@modelItem.PRICE</td>
                                                <td><a href="#" class="btn btn-link"><br><br><br>删除</a></td>
                                            </tr>
                                        }
                                    }

                                    </tbody>
                                </table>
                            </div>
                            <ul class="pagination pull-right">
                                <li class="disabled"><a href="#">&laquo;</a></li>
                                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                <li><a href="#">2 <span class="sr-only">(current)</span></a></li>
                                <li><a href="#">3 <span class="sr-only">(current)</span></a></li>
                                <li><a href="#">4 <span class="sr-only">(current)</span></a></li>
                                <li><a href="#">5 <span class="sr-only">(current)</span></a></li>
                                <li><a href="#">&raquo;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="myModalLabel">确定要登出您的账户吗？</h4>
                            </div>
                            <div class="modal-footer">
                                <a href="~/Views/RegisterAndLogin/LoginCheck" class="btn btn-primary">是的</a>
                                <button type="button" class="btn btn-default" data-dismiss="modal">还是不了</button>
                            </div>
                        </div>
                    </div>
                </div>

                <footer class="templatemo-footer">
                    <div class="templatemo-copyright">
                        <p>&copy; 吃瓜网 | 保留一切权利 </p>
                    </div>
                </footer>
            </div>
        </div>
</div>
        <script src="~/Scripts/jquery.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/Chart.min.js"></script>
        <script src="~/Scripts/templatemo_script.js"></script>

</body>
</html>
