@model Login.Models.TB_STORE_TYPE

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Can't Delete, must left an store type!</h3>
    <div>
        <hr />
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                @Html.ActionLink("Back to List", "Index", new { storeid = ViewData["sid"] })
            </div>
        }
    </div>
</body>
</html>
