@*
    @{
        ViewBag.Title = "LoginCheck";
    }

    <h2>LoginCheck</h2>

    @Html.BeginForm()
    {
    @Html.TextBox("userName")
    @Html.TextBox("passWord")

    <input type="submit" value="提交" class="btn btn-default" />
    }
*@

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>登录|深巷网|网上商城</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="电商,网上商城,深巷网" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- font files  -->
    <link href='//fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'>
    <!-- /font files  -->
    <!-- css files -->
    <link href="~/css/log_style.css" rel='stylesheet' type='text/css' media="all" />
    <!-- /css files -->
    
</head>
<body>
    <h1>登录我们的网站</h1>
    <div class="log1">
        <div class="content1">
            <h2>登录</h2>
            @using (Html.BeginForm()){
            @Html.AntiForgeryToken()  
                <input type="text" name="userName" value="USERNAME" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'USERNAME';}">
                <input type="password" name="passWord" value="PASSWORD" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'PASSWORD';}">
                <div class="button-row">
                    <input type="submit" class="sign-in" value="提交">
                    <input type="reset" class="reset" value="重置">
                    <div class="clear"></div>
                </div>
                <p>还没有账户，快去 <a href="~/TB_USER/regist" target="_blank">注册</a>一个</p>
                }   
            
        <div class="clear"></div>
    </div>
    <div class="footer">
        <p>© 深巷网 | 保留一切权利 </p>
    </div>

</body>
</html>
